body{
	margin: 0px;
	padding: 0px;
}

.node{
 cursor: pointer;
}

.node circle {
   fill: #fff;
   stroke-width: 3px;
 }

text .selected {
   fill: #000;
 }

 text { 
 	font: 14px sans-serif; 
 	fill: white;
 }

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
 }
 .tick line {
	  shape-rendering: crispEdges;
	  stroke: #000;
	}

	line.minor  {
	  stroke: #777;
	  stroke-dasharray: 2,2;
	}

	path.domain {
	  fill: none;
	  stroke: black;
	}